@tailwind base;
@tailwind components;
@tailwind utilities;

.negative-transform {
    transform: translateY(-20px)
}

.Clear {
  background: url(./img/sunny.jpeg) no-repeat center center;
  background-size: cover;
}

.Clouds {
  background: url(./img/cloudy.jpeg) no-repeat center center;
  background-size: cover;
}

.Rain {
  background: url(./img/rain.jpeg) no-repeat center center;
  background-size: cover;
}

.Snow {
  background: url(./img/snow.jpg) no-repeat center center;
  background-size: cover;
}

.Drizzle {
  background: url(./img/driz.jpeg) no-repeat center center;
  background-size: cover;
}

.Thunderstorm {
  background: url(./img/thunder.jpeg) no-repeat center center;
  background-size: cover;
}

.Mist {
  background: url(./img/mist.jpeg) no-repeat center center;
  background-size: cover;
}


